# Essentials
numpy
matplotlib
pandas
#seaborn
tqdm
#scipy
scikit-learn

# cudatoolkit
#fastai
# PyTorch
torch
torchvision
torchaudio --extra-index-url https://download.pytorch.org/whl/cpu # CPU-based

# # For using CUDA:
# torchaudio --extra-index-url https://download.pytorch.org/whl/cu116
# cuda-python

# Jupyter notebooks
#ipykernel

# Black
#jupyter-black
#jupyter


# Special cases only, downloading online:
# kaggle
# gdown