# Essentials
numpy
matplotlib
pandas
seaborn
tqdm
scipy
scikit-learn
cuda-python
cudatoolkit

# PyTorch
torch
torchvision
torchaudio --extra-index-url https://download.pytorch.org/whl/cu116

# Jupyter notebooks
ipykernel

# Black
jupyter-black
jupyter
